{% extends 'app/base.html' %}

{% block content %}
    <section id="content">
          <section class="vbox">
            <section class="scrollable wrapper w-f bg-white-only">
              <p class="h4">Contents...</p>
            </section>
            <footer class="footer bg-light">
              <p>This is a footer</p>
            </footer>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
{% endblock %}