{% extends 'app/base.html' %}

{% block content %}
    <section id="content">
          <section class="wrapper">
          <div class="m-b">
            <span class="h3 font-thin"><i class="i i-arrow-left3"></i> Boxed Layout</span>
          </div>
          <section class="panel panel-default">
            <header class="panel-heading">
              GDP per capita average annual growth rate
            </header>
            <div class="table-responsive" id="growthrate">
            </div>
          </section>
        </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        </section>
{% endblock %}