{% extends 'admin/base.html' %}

{% block content %}
    <!-- Page Inner -->
    <div class="page-inner">
        <div id="main-wrapper" class="container">
            <div class="row">
                <div class="col-md-6 center">
                    <h1 class="error-page-logo">404</h1>
                    <p class="error-page-top-text">Oops.. Something went wrong..</p>
                    <p class="error-page-bottom-text">We can't seem to find the page you're looking
                        for.</p>
                    <a href="#" class="btn btn-primary m-b-xxs">Help Center</a>
                    <a href="index.html" class="btn btn-default m-b-xxs">Return Home</a>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div>
    <!-- /Page Inner -->

{% endblock %}