{% extends 'admin/base.html' %}

{% block content %}
    <!-- Page Inner -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Invoice</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="col-md-4" style="padding-left:0;">
                                <h3 class="m-b-md m-t-xxs"><b>Company</b></h3>
                                <address>
                                    Melbourne, Australia<br>
                                    P: (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-8 text-right" style="padding-right:0;">
                                <h3 class="m-t-xs">Invoice</h3>
                                <button type="button" class="btn btn-default"><i
                                        class="fa fa-print"></i> Print
                                </button>
                            </div>
                            <div class="col-md-12" style="padding-left:0;">
                                <hr>
                                <p>
                                    <strong>Invoice to</strong><br>
                                    John Doe<br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107
                                </p>
                            </div>
                            <div class="col-md-12" style="padding-left:0;padding-right:0;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Item One</td>
                                        <td>Lorem ipsum dolor sit amet</td>
                                        <td>23</td>
                                        <td>$3157</td>
                                    </tr>
                                    <tr>
                                        <td>Item Two</td>
                                        <td>Consectetur adipiscing elit</td>
                                        <td>13</td>
                                        <td>$940</td>
                                    </tr>
                                    <tr>
                                        <td>Item Three</td>
                                        <td>Eget porttitor lorem</td>
                                        <td>36</td>
                                        <td>$2080</td>
                                    </tr>
                                    <tr>
                                        <td>Item Four</td>
                                        <td>Integer molestie lorem at massa</td>
                                        <td>29</td>
                                        <td>$1105</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8" style="padding-left:0;">
                                <h4>Thank you!</h4>
                                <p>Nullam quis risus eget urna mollis ornare vel eu leo.<br>Cum
                                    sociis natoque penatibus et magnis dis<br>nascetur ridiculus
                                    mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                <img src="http://via.placeholder.com/350x150?text=signature"
                                     height="150" class="m-t-lg" alt="">
                            </div>
                            <div class="col-md-4" style="padding-right:0;">
                                <div class="text-right">
                                    <h4 class="no-m m-t-sm">Subtotal</h4>
                                    <h2 class="no-m">$7282</h2>
                                    <hr>
                                    <h4 class="no-m m-t-sm">Shipping</h4>
                                    <h2 class="no-m">$240</h2>
                                    <hr>
                                    <h4 class="no-m m-t-md text-success">Total</h4>
                                    <h1 class="no-m text-success">$7522</h1>
                                    <hr>
                                    <button class="btn btn-info">Submit your invoice</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
        <div class="page-footer">
            <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div><!-- /Page Inner -->
{% endblock %}