{% extends 'admin/base.html' %}

{% block content %}
    <!-- Page Inner -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Fixed Sidebar &amp; Header</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">

            </div><!-- Row -->
        </div><!-- Main Wrapper -->
        <div class="page-footer">
            <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div><!-- /Page Inner -->
{% endblock %}