{% extends 'admin/base.html' %}

{% block content %}
    <!-- Page Inner -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Pricing Tables</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="row white">
                                <div class="block">

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <ul class="pricing">
                                            <li>
                                                <h1>Basic</h1>
                                            </li>
                                            <li>HTML5 &amp; CSS3</li>
                                            <li>5 GB of ecaps</li>
                                            <li>2 Projects</li>
                                            <li>24hrs Support</li>
                                            <li>
                                                <h3 style="margin-top:0;">$29</h3>
                                                <span>per month</span>
                                            </li>
                                            <li>
                                                <button type="button"
                                                        class="btn btn-success btn-rounded">Sign Up
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <ul class="pricing">
                                            <li>
                                                <h1>Standard</h1>
                                            </li>
                                            <li>HTML5 &amp; CSS3</li>
                                            <li>15GB of ecaps</li>
                                            <li>10 Projects</li>
                                            <li>24hrs Support</li>
                                            <li>
                                                <h3 style="margin-top:0;">$39</h3>
                                                <span>per month</span>
                                            </li>
                                            <li>
                                                <button type="button"
                                                        class="btn btn-success btn-rounded">Sign Up
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <ul class="pricing">
                                            <li>
                                                <h1>Premium</h1>
                                            </li>
                                            <li>HTML5 &amp; CSS3</li>
                                            <li>1TB of ecaps</li>
                                            <li>50 Projects</li>
                                            <li>24hrs Support</li>
                                            <li>
                                                <h3 style="margin-top:0;">$79</h3>
                                                <span>per month</span>
                                            </li>
                                            <li>
                                                <button type="button"
                                                        class="btn btn-primary btn-rounded">Sign Up
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <ul class="pricing">
                                            <li>
                                                <h1>VIP</h1>
                                            </li>
                                            <li>HTML5 &amp; CSS3</li>
                                            <li>Unlimited ecaps</li>
                                            <li>Unlimited Projects</li>
                                            <li>24hrs Support</li>
                                            <li>
                                                <h3 style="margin-top:0;">$99</h3>
                                                <span>per month</span>
                                            </li>
                                            <li>
                                                <button type="button"
                                                        class="btn btn-success btn-rounded">Sign Up
                                                </button>
                                            </li>
                                        </ul>
                                    </div>


                                </div><!-- /block -->
                            </div><!-- /row -->
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
        <div class="page-footer">
            <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div><!-- /Page Inner -->
{% endblock %}