{% extends 'admin/base.html' %}

{% block content %}
    <!-- Page Inner -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Buttons</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Button Colors</h4>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-default">Default</button>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-info">Info</button>
                            <button type="button" class="btn btn-warning">Warning</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                            <button type="button" class="btn btn-default disabled">Disabled</button>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Button Sizes</h4>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-xs">Extra small
                                button
                            </button>
                            <button type="button" class="btn btn-default btn-sm">Small button
                            </button>
                            <button type="button" class="btn btn-default">Default button</button>
                            <button type="button" class="btn btn-default btn-lg">Large button
                            </button>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Rounded Buttons</h4>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-rounded">Default
                            </button>
                            <button type="button" class="btn btn-primary btn-rounded">Primary
                            </button>
                            <button type="button" class="btn btn-success btn-rounded">Success
                            </button>
                            <button type="button" class="btn btn-info btn-rounded">Info</button>
                            <button type="button" class="btn btn-warning btn-rounded">Warning
                            </button>
                            <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Button Addons</h4>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-default btn-addon"><i
                                    class="fa fa-magic"></i> Default
                            </button>
                            <button type="button" class="btn btn-primary btn-addon"><i
                                    class="fa fa-dollar"></i> Primary
                            </button>
                            <button type="button" class="btn btn-success btn-addon"><i
                                    class="fa fa-phone"></i> Success
                            </button>
                            <button type="button" class="btn btn-info btn-addon"><i
                                    class="fa fa-plus"></i> Info
                            </button>
                            <button type="button" class="btn btn-warning btn-addon"><i
                                    class="fa fa-spin fa-refresh"></i> Warning
                            </button>
                            <button type="button" class="btn btn-danger btn-addon"><i
                                    class="fa fa-shopping-cart"></i> Danger
                            </button>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Social Buttons</h4>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-social btn-facebook"><i
                                    class="fa fa-facebook"></i></button>
                            <button type="button" class="btn btn-social btn-twitter"><i
                                    class="fa fa-twitter"></i></button>
                            <button type="button" class="btn btn-social btn-google"><i
                                    class="fa fa-google-plus"></i></button>
                            <button type="button" class="btn btn-social btn-youtube"><i
                                    class="fa fa-youtube"></i></button>
                            <button type="button" class="btn btn-social btn-vimeo"><i
                                    class="fa fa-vimeo-square"></i></button>
                            <button type="button" class="btn btn-social btn-dribbble"><i
                                    class="fa fa-dribbble"></i></button>
                            <button type="button" class="btn btn-social btn-instagram"><i
                                    class="fa fa-instagram"></i></button>
                            <button type="button" class="btn btn-social btn-pinterest"><i
                                    class="fa fa-pinterest"></i></button>
                            <button type="button" class="btn btn-social btn-vk"><i
                                    class="fa fa-vk"></i></button>
                            <button type="button" class="btn btn-social btn-rss"><i
                                    class="fa fa-rss"></i></button>
                            <button type="button" class="btn btn-social btn-flickr"><i
                                    class="fa fa-flickr"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Button Groups</h4>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Right</button>
                            </div>
                            <h4 class="header-text" style="padding-top:20px;padding-bottom:15px;">
                                Toolbar</h4>
                            <div class="btn-toolbar" role="toolbar"
                                 aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-default">1</button>
                                    <button type="button" class="btn btn-default">2</button>
                                    <button type="button" class="btn btn-default active">3</button>
                                    <button type="button" class="btn btn-default">4</button>
                                </div>
                            </div>
                            <h4 class="header-text" style="padding-top:20px;padding-bottom:15px;">
                                Vertical</h4>
                            <div class="btn-group-vertical m-t-xs" role="group"
                                 aria-label="Vertical button group">
                                <button type="button" class="btn btn-default">Top</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Bottom</button>
                            </div>
                            <h4 class="header-text" style="padding-top:20px;padding-bottom:15px;">
                                Justified</h4>
                            <div class="btn-group btn-group-justified" role="group"
                                 aria-label="Justified button group">
                                <a href="#" class="btn btn-info" role="button">Left</a>
                                <a href="#" class="btn btn-primary" role="button">Middle</a>
                                <a href="#" class="btn btn-warning" role="button">Right</a>
                            </div>
                            <h4 class="header-text" style="padding-top:20px;padding-bottom:15px;">
                                Nested</h4>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Dropdown link</a></li>
                                        <li><a href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title">Button Dropdowns</h4>
                        </div>
                        <div class="panel-body">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">Action</button>
                                <button type="button" class="btn btn-danger dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="btn-group dropup" style="margin-top:8px;">
                                <button type="button" class="btn btn-default">Dropup</button>
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
        <div class="page-footer">
            <p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div><!-- /Page Inner -->
{% endblock %}